APP_ENV=production
BASE_DOMAIN=seudominio.com.br
DEFAULT_WORKSPACE_SLUG=sincero
SUPER_ADMIN_TOKEN=COLE_UMA_CHAVE_ALEATORIA_DE_64_CARACTERES
ENFORCE_API_TOKEN=true

# Banco de Dados (dev local: sqlite | producao Hostinger: mysql)
DB_DRIVER=mysql

# Para MySQL Hostinger:
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u123456789_upscale
DB_USERNAME=u123456789_upscale
DB_PASSWORD=SuaSenhaForteAqui

# Pix Sandbox / Mock
PIX_EXPIRY_MINUTES=15
MOCK_PIX_AUTOCONFIRM_SECONDS=25
SANDBOX_PIX_KEY=00000000000
SANDBOX_MERCHANT_NAME=UPSCALE SANDBOX
SANDBOX_MERCHANT_CITY=SAO PAULO
